<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>infor</key>
		<array>
			<dict>
				<key>answer</key>
				<string>获取渠道：蔷薇爱车与合作伙伴共同发起，已获得的卡券，访问“我的-激活”进入后输入激活码进行激活。</string>
			</dict>
		</array>
		<key>title</key>
		<string>如何使用激活码？</string>
	</dict>
	<dict>
		<key>infor</key>
		<array>
			<dict>
				<key>answer</key>
				<string>登录APP点击“购卡-点击购买”完成支付即可,已购买的洗车卡可在“我的卡包”中查看。</string>
			</dict>
		</array>
		<key>title</key>
		<string>如何办理洗车卡？</string>
	</dict>
</array>
</plist>
